{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Acerca de Mi
{% endblock titulo %}

{% block cabecera %}
<div class="container">
    <div class="masthead-heading text-uppercase">Acerca de Mi</div>
</div>
{% endblock cabecera %}

{% block contenido %}
<section class="page-section" style="background-color:black;" id="">
    <div class="container">
            <div class="text-center">
                <h4 class="section-subheading" style="color: lightgray;">Mi nombre es Lucas De Maio, tengo 35 años y estoy próximo recibirme 
                    en la carrera de Licenciado en Sistemas en la UBA.
                    <br><br>
                    Me desempeño hace 15 años como Senior Analyst en una multinacional, en el Equipo de Cyber Operations (Seguridad Informática).
                    <br><br>
                    Tantos años en el mismo tipo de trabajo, me empujó a buscar otros rumbos, en este caso la Programación. Siempre tuve "miedos"
                    a no estar preparado para entender este mundo, es por eso que decidí iniciar en un lenguaje que (según varias opiniones y foros que he 
                    leido) es recomendado para dar el primer paso.
                    <br><br>
                    Mi objetivo personal es ganar la experiencia necesaria, y sumergirme en este nuevo mercado laboral. Se que no será facil, pero como bien
                    indica la frase del primer slide de este curso "Cuanto más duramente trabajo, mas suerte tengo"
                    <br><br>
                    Este curso en Coderhouse de Python será solo el comienzo de un largo aprendizaje que me espera.
                    
                </h4>
            </div>
</section>
<section class="page-section" style="background-color:whitesmoke;" id="">
    <div class="container">
            <div class="text-center">
                <h4 class="section-subheading text-muted"> En el siguiente link, encontrarán un video que muestra la 
                    funcionalidad y navegación sobre el sitio construido:
                    <br><br>
                    <a class="navbar-brand" style="font-size:larger; color: blue;" href="https://youtu.be/iZ4xZsMxZss">VIDEO</a>
                </h4>
            </div>
</section>


{% endblock contenido %}

{% block servicios %}

{% endblock servicios %}
